{% extends "./base.html.twig" %}

{% block body %}
<h1>Tic Tac Toe</h1>
{% set value = field|split('') %}
<form name="board" method="post">
    <table>
        <tr>
            <td><button name="field" type="submit" value="1" {% if(value.0 != "-") %}disabled{% endif %}>{{ value.0 }}</button></td>
            <td><button name="field" type="submit" value="2" {% if(value.1 != "-") %}disabled{% endif %}>{{ value.1 }}</button></td>
            <td><button name="field" type="submit" value="3" {% if(value.2 != "-") %}disabled{% endif %}>{{ value.2 }}</button></td>
        </tr>
        <tr>
            <td><button name="field" type="submit" value="4" {% if(value.3 != "-") %}disabled{% endif %}>{{ value.3 }}</button></td>
            <td><button name="field" type="submit" value="5" {% if(value.4 != "-") %}disabled{% endif %}>{{ value.4 }}</button></td>
            <td><button name="field" type="submit" value="6" {% if(value.5 != "-") %}disabled{% endif %}>{{ value.5 }}</button></td>
        </tr>
        <tr>
            <td><button name="field" type="submit" value="7" {% if(value.6 != "-") %}disabled{% endif %}>{{ value.6 }}</button></td>
            <td><button name="field" type="submit" value="8" {% if(value.7 != "-") %}disabled{% endif %}>{{ value.7 }}</button></td>
            <td><button name="field" type="submit" value="9" {% if(value.8 != "-") %}disabled{% endif %}>{{ value.8 }}</button></td>
        </tr>
        <tr>
            <td colspan="3">
                <button name="reset" type="submit" value="reset">Reset Game</button>
            </td>
        </tr>
    </table>

</form>
{% endblock %}
